body {
    background-color: #eee;
}

ul {
    font-size: 25px;
    list-style-type: none;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-left: 0;
}

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}


table {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2c2;
}

td {
    border: solid 1px #ddd;
    padding: 8px;
}

table th {
    background-color: #4caf50;
    color: #fff;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}