body {
    background-color: #eee;
}

.header input {
    background-color: #eee;
    font-size: 14px;
    padding-right: 17px;
    margin: 20px 20px;
    margin-bottom: 25px;
}

.header h1 {
    font-size: 23px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #fff;
    background-color: rgb(56, 79, 185);
    width: 100%;
    margin: 0;
    padding: 15px 17px;
    padding-top: 15px;
    opacity: 0.95;
    box-sizing: border-box;
}

.whole-Cards {
    margin: 0px 5px;
}

.search {
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 23px;
    width: 135px;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    opacity: 75%;
}

.Card {
    background-color: #fff;
    max-width: 30%;
    margin: 0% 1.66%;
    padding: 0;
    float: left;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}
.Card img {
    border-radius: 4px;
    width: 100%;
    height: ;
}
.Card-content {
    margin: 0px 15px;
}

.Card-content a {
    display: block;
    box-sizing: content-box;
    margin-bottom: 15px;
    color: rgb(59, 84, 194);
    font-weight: bold;
    text-decoration: none;
}
.Card-content h4 {
    font-size: 20px;
    margin: 10px 0;
}
.Card-content p {
    font-size: 15px;
}
